<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ngx-form-helper documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">ngx-form-helper documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>组件列表</li>
  <li>ErrorHandlerTextMessageComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#templateData" role="tab" id="templateData-tab" data-toggle="tab" data-link="template">Template</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>文件</h3>
</p>
<p class="comment">
    <code>src/error-handler/text/error-handler-text-message.component.ts</code>
</p>

    <p class="comment">
        <h3>描述</h3>
    </p>
    <p class="comment">
        <p>错误消息，&lt;eh-text&gt; 的子元素</p>
<div><pre class="line-numbers"><code class="language-html">&lt;eh-text&gt;
   &lt;eh-text-message error=&quot;required&quot;&gt;不能为空&lt;/eh-text-message&gt;
&lt;/eh-text&gt;</code></pre></div>
    </p>




<section>
    <h3>元数据</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>eh-text-message</code></td>
            </tr>




            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>./error-handler-text-message.component.html</code></td>
            </tr>








        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">索引</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>


                <tr>
                    <td class="col-md-4">
                        <h6><b>输入属性</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#error">error</a>
                            </li>
                            <li>
                                <a href="#message">message</a>
                            </li>
                        </ul>
                    </td>
                </tr>




        </tbody>
    </table>
</section>


    <section>
    <h3 id="inputs">输入属性</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="error"></a>
                        <b>error</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>类型 : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">被定义在 <a href="" data-line="24" class="link-to-prism">src/error-handler/text/error-handler-text-message.component.ts:24</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>错误类型</p>
<ul>
<li>由 angular 验证器 (<a href="https://www.angular.cn/api/forms/Validator">Validator</a>) 返回</li>
</ul>
</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="message"></a>
                        <b>message</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>类型 : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">被定义在 <a href="" data-line="43" class="link-to-prism">src/error-handler/text/error-handler-text-message.component.ts:43</a></div>
                            </td>
                        </tr>
                <tr>
                    <td class="col-md-4">
                        <div class="io-description"><p>错误类型对应的错误消息</p>
<hr>
<p>有两种定义 message 的方式</p>
<p>1、属性方式</p>
<div><pre class="line-numbers"><code class="language-html">&lt;eh-text-message error=&quot;required&quot; message=&quot;不能为空&quot;&gt;&lt;/eh-text-message&gt;</code></pre></div><p>2、文本节点方式</p>
<div><pre class="line-numbers"><code class="language-html">&lt;eh-text-message error=&quot;required&quot;&gt;不能为空&lt;/eh-text-message&gt;</code></pre></div></div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, HostBinding, Input } from &#x27;@angular/core&#x27;;
import { ErrorHandlerTextComponent } from &#x27;./error-handler-text.component&#x27;;

/**
 * 错误消息，&amp;lt;eh-text&amp;gt; 的子元素
 *
 * ~~~ html
 * &lt;eh-text&gt;
 *   &lt;eh-text-message error&#x3D;&quot;required&quot;&gt;不能为空&lt;/eh-text-message&gt;
 * &lt;/eh-text&gt;
 * ~~~
 */
@Component({
    selector: &#x27;eh-text-message&#x27;,
    templateUrl: &#x27;./error-handler-text-message.component.html&#x27;
})
export class ErrorHandlerTextMessageComponent {

    /**
     * 错误类型
     *
     * - 由 angular 验证器 ([Validator]{@link https://www.angular.cn/api/forms/Validator}) 返回
     */
    @Input() error: string;

    /**
     * 错误类型对应的错误消息
     *
     * ---
     *
     * 有两种定义 message 的方式
     *
     * 1、属性方式
     * ~~~ html
     * &lt;eh-text-message error&#x3D;&quot;required&quot; message&#x3D;&quot;不能为空&quot;&gt;&lt;/eh-text-message&gt;
     * ~~~
     *
     * 2、文本节点方式
     * ~~~ html
     * &lt;eh-text-message error&#x3D;&quot;required&quot;&gt;不能为空&lt;/eh-text-message&gt;
     * ~~~
     */
    @Input() message: string;

    /**
     * @ignore
     */
    @HostBinding(&#x27;class.active&#x27;) get isError() {
        return this.errorHandlerText.hasError(this.error);
    }

    /**
     * @ignore
     */
    constructor(private errorHandlerText: ErrorHandlerTextComponent) {
    }
}</code></pre>
    </div>

    <div class="tab-pane fade " id="c-templateData">
        <pre class="line-numbers"><code class="language-html">&lt;div *ngIf&#x3D;&quot;isError&quot;&gt;
  &lt;ng-content *ngIf&#x3D;&quot;!message&quot;&gt;&lt;/ng-content&gt;
  {{message}}
&lt;/div&gt;</code></pre>
    </div>



    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div *ngIf="isError">  <ng-content *ngIf="!message"></ng-content>  {{message}}</div></div>'
    var COMPONENTS = [{'name': 'ErrorHandlerTextComponent', 'selector': 'eh-text'},{'name': 'ErrorHandlerTextMessageComponent', 'selector': 'eh-text-message'},{'name': 'ErrorHandlerTooltipComponent', 'selector': 'eh-tooltip'},{'name': 'ErrorHandlerTooltipMessageComponent', 'selector': 'eh-tooltip-message'}];
    var DIRECTIVES = [{'name': 'CheckboxRequiredDirective', 'selector': '
        [checkboxRequired][ngModelGroup],
        [checkboxRequired][formGroup],[checkboxRequired][formGroupName],
        [checkboxRequired][formArray],[checkboxRequired][formArrayName]
    '},{'name': 'ErrorHandlerSimpleDirective', 'selector': '[ehSimple]'},{'name': 'FormHelperDirective', 'selector': '[formHelper]'},{'name': 'ListRequiredDirective', 'selector': '[listRequired][ngModel],[listRequired][formControl],[listRequired][formControlName]'},{'name': 'SubmitHandlerLoaderDirective', 'selector': '[shLoader]'},{'name': 'TrimmedRequiredDirective', 'selector': '[trimmedRequired][ngModel],[trimmedRequired][formControl],[trimmedRequired][formControlName]'}];
    var ACTUAL_COMPONENT = {'name': 'ErrorHandlerTextMessageComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">无匹配的结果 "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'ErrorHandlerTextMessageComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
