<div class="ui container">
  <h3 class="ui dividing header">表单外消息</h3>
  <form class="ui form" formHelper #fh1="formHelper">
    <div class="field">
      <div class="ui action input small spe">
        <input type="text" name="host" [(ngModel)]="host" #hostCtrl="ngModel" autocomplete="off"
               trimmedRequired pattern="^\d*$" ehText>
        <button type="submit" class="ui teal right labeled icon button" shLoader>
          <i class="add icon"></i>
          添加
        </button>
      </div>
      <button #reset type="button" class="ui button">重置</button>
    </div>
  </form>

  <eh-text-message [ref]="hostCtrl" [refForm]="fh1" [inline]="false" [float]="true" animation="flyLeft">
    <div *ngIf="hostCtrl.errors?.trimmedRequired">不能为空</div>
    <div *ngIf="hostCtrl.errors?.pattern">格式不合法</div>
  </eh-text-message>

  <h3 class="ui dividing header">表单2</h3>
  <form class="ui form" formHelper offsetTop="28">
    <div class="field required">
      <label class="inline">名字</label>
      <eh-text-message ref="name" data-trimmed-required="不能为空" data-name-unique="重复"
                       animation="flyLeft"></eh-text-message>
      <input type="text" name="name" [(ngModel)]="name" autocomplete="off" trimmedRequired
             nameUnique ehText>
    </div>

    <div class="field required">
      <label class="inline">性别</label>
      <input type="text" name="sex" [(ngModel)]="sex" autocomplete="off" trimmedRequired pattern="^[a-zA-Z]*$"
             ehText>
      <eh-text-message ref="sex" data-trimmed-required="不能为空" data-pattern="请输入字符" animation="slideDown"
                       [inline]="false" [float]="true" [right]="true"></eh-text-message>
    </div>

    <div class="field required">
      <label class="inline">Action Input</label>
      <eh-text-message ref="actionInput" data-trimmed-required="不能为空"></eh-text-message>
      <div class="ui small left action input">
        <div class="ui selection dropdown" dropdown [(ngModel)]="actionInputType"
             [ngModelOptions]="{standalone:true}" [class.fluid]="actionInputType == 0">
          <div class="text"></div>
          <i class="icon dropdown"></i>
          <div class="menu">
            <div class="item" data-value="0">不限</div>
            <div class="item" data-value="1">限制</div>
          </div>
        </div>
        <input type="text" trimmedRequired maxlength="10" [(ngModel)]="actionInput" name="actionInput"
               autocomplete="off" class="thin" [hidden]="actionInputType == 0" [disabled]="actionInputType == 0"
               ehText>
      </div>
    </div>

    <div class="blank" [style.height.px]="pageHeight"></div>

    <div class="field buttons">
      <button shLoader type="submit" class="ui button small instagram right labeled icon">
        <i class="icon save"></i>
        保存
      </button>
      <button #reset type="button" class="ui button small">重置</button>
    </div>
  </form>

  <div class="ui divider"></div>
  <a class="ui tiny button" routerLink="/">error handler tooltip</a>
  <button type="button" class="ui button tiny" (click)="pageHeight = pageHeight + 1000">增加页面高度(+1000px)</button>
</div>